node_modules/
.vscode
typechain/
.env
.tmp-addresses*.json
data
data/gmxMigration
data/esGmxDistribution
data/bonds
data/batchSend
data/nft
data/snapshotBalance
data/holders
data/contractList
flattened
distribution-data*.json
**/.DS_Store

#Hardhat files

cache
cache-zk
artifacts
artifacts-zk
hardhatTests
coverage.json
coverage/
coverage